body{
	display: flex;
	flex-direction: row;
}

nav{
	width: 20%;
}



article{
	margin: 0px;
    padding: 8px 16px;
    width: 80%;
    background-color: #f1f1f1;
    border: 2px solid #555;
}

#description{
	font-weight: bold;
}

#card:hover{
	color: green;
}

#back{
	background-color: green;
}

#back:hover{
	background-color: red;
}

#p_description{
	color: red;
	text-align: center;
	width: 30%;
	padding: 0;
}

h1{
	text-decoration: underline;
}

div{
	width: 16.7%;
}


input{
	width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98%;
    background-color: #f1f1f1;
    border: 2px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li header {
	background-color: black;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li a:hover{
    background-color: green;
    color: white;
}